[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
uvicorn = "*"
fastapi = "*"
psycopg2 = "*"
sqlalchemy = "*"
alembic = "*"
email-validator = "*"

[requires]
python_version = "3.7"
